---
layout: archive
title: "Publication"
permalink: /publications/
author_profile: true
---

{% include base_path %}

<h2>Recent Project</h2>

<div class="publication">
  <p><strong>"Automated Vehicle Planning & Control Test"</strong></p>
  <p><em>Conducted from 09/2020 to Now</em></p>
  <p>Recent research underscores the impact of automated vehicle (AV) control and planning on traffic. Despite the widespread application of these AV technologies, 
    Several features of these automation systems remain inadequately understood due to the lack of comprehensive field tests and data necessary for accurate modeling. 
    We are conducting a series of tests using two AV platforms to test their behavior by developing different planning and control algorithms in a two-layer design. 
    The experiments incorporated linear/nonlinear/data-driven planning models within the upper-layer system and PID/MPC control within the lower-layer system. 
    Field data were collected via the platform's sensors and adapted to better understand different planning and control performances in different scenarios.</p>

  <img src="project_AV.jpg" alt="Automated Vehicle Testing" style="width:100%; height:auto;">

  <p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0968090X22003400">Relative Publication</a></p>
</div>




{% for post in publications %}
  {% include archive-single.html %}
{% endfor %}
