---
layout: archive
#title: "Publication"
permalink: /publications/
author_profile: true
---
<div class="publication">
  <p><strong>"Connected Automated Vehicle: VECTOR (Visual-Enhanced Cooperative Traffic Operation) System"</strong></p>
  <p><em>Conducted from 09/2021 to Now</em></p>
  <p>The VECTOR project aims to revolutionize Vehicle-to-Vehicle communication by integrating visual enhancements into cooperative traffic operations. 
  This novel, low-cost system uses existing vehicle cameras to detect electric panels with flashing LED lights 
    to transmit vehicle dynamics data and static infrastructure data. 
    This visual communication system offers an affordable alternative for vehicle-to-vehicle and infrastructure-to-vehicle data sharing, 
    potentially reducing CDA deployment costs and energy consumption. 
    The VECTOR system advances CDA infrastructure by enhancing energy efficiency, mobility, and safety, 
    creating a more economical and sustainable pathway for the industry.
  </p>
  <div style="display: flex; gap: 20px; justify-content: center; align-items: center; margin-top: 20px;">
    <video style="width: 45%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);" autoplay muted loop controls>
      <source src="https://raw.githubusercontent.com/MarkMaaaaa/KeMa.github.io/master/images/VECTOR_mini.mp4" type="video/mp4">
      Your browser does not support the video tag.
    </video>
    <img src="https://raw.githubusercontent.com/MarkMaaaaa/KeMa.github.io/master/images/VECTOR2.png" 
         alt="Project Image" 
         style="width: 45%; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);">
  </div>

</div>

<div class="publication">
  <p><strong>"Automated Vehicle Hardware/Algorithm Development"</strong></p>
  <p><em>Conducted from 06/2018 to Now</em></p>
   <p>This project focuses on developing hardware and control algorithms for automated vehicles. 
   Key modules include sensor integration (e.g., LiDAR and camera), central planning using Autoware, and robust control systems. 
   The research explores the potential impacts of system delays and errors, aiming to mitigate these effects through advanced optimization techniques. 
   Multiple planning algorithms and low-level control strategies have been tested to evaluate performance. 
   Specifically, the project emphasizes optimizing eco-driving planning systems under diverse traffic and environmental conditions. 
   Extensive testing with customized AV platforms has been conducted, particularly in highway and urban scenarios.
  </p>
  <div style="display: flex; gap: 10px; justify-content: center;">
    <img src="https://raw.githubusercontent.com/MarkMaaaaa/KeMa.github.io/master/images/project_AV.png" alt="Project Image 1" style="width: 40%; height: auto;">
    <img src="https://raw.githubusercontent.com/MarkMaaaaa/KeMa.github.io/master/images/project_AV2.png" alt="Project Image 2" style="width: 55%; height: auto;">
  </div>
  <p><a href="https://www.sciencedirect.com/science/article/abs/pii/S0968090X22003400">Relative Publication: Field tests and analysis of AV stability</a></p>
  <p><a href="https://papers.ssrn.com/sol3/papers.cfm?abstract_id=4960777">Relative Publication: Field tests of multiple AV controllers</a></p>
  <p><a href="https://arxiv.org/abs/2408.11797">Relative Publication: Field tests and analysis of AV energy consumption</a></p>
</div>

<div class="publication">
  <p><strong>"AV Model Generation and Evaluation: Open-PAV (Open Producted Automated Vehicle)"</strong></p>
  <p><em>Conducted from 09/2024 to Now</em></p>
  <p>The Open-PAV project focuses on collecting and organizing data from commercial automated vehicles 
    (including our own datasets and publicly available open-source data) while encouraging contributions from other researchers. 
    This data includes rich sources such as LiDAR, images, videos, and trajectory data, all stored in a unified vectorized format for ease of access and analysis. 
    Using this comprehensive dataset, we have calibrated various vehicle kinematic models, 
    including linear models, IDM models, Wiedemann-99, and machine learning-based models. 
    Also, we provide pre-configured model parameters as ready-to-use packages compatible with traditional simulation software. 
    Open-PAV empowers researchers by enabling fast and accurate simulations of commercial automated vehicle behavior and their potential impacts, 
    fostering deeper insights and broader collaboration.</p>
  <div style="display: flex; gap: 10px; justify-content: center;">
    <img src="https://raw.githubusercontent.com/MarkMaaaaa/KeMa.github.io/master/images/openpav1.png" alt="Project Image 1" style="width: 45%; height: auto;">
    <img src="https://raw.githubusercontent.com/MarkMaaaaa/KeMa.github.io/master/images/openpav1.png" alt="Project Image 2" style="width: 45%; height: auto;">
  </div>
  <p><a href="https://www.nature.com/articles/s41597-024-03795-y">Relative Publication: AV trajectory data collection and statistics</a></p>
</div>



{% for post in publications %}
  {% include archive-single.html %}
{% endfor %}
